.navbar-brand {
  padding: 0 15px;
  line-height: 80px;
}

.account-img {
  padding: 0;
  height: 50px;
}

.hamburger {
  padding: 0;
  height: 50px;
  width: 50px;
  background-color: #333;
  padding-left: 10px;
}

.chat-icon {
  padding: 0;
  height: 50px;
  width: 50px;
  background-color: #333;;
}

.chat-icon > a {
  color: white;
}

.navbar-toggle {
  padding: 0;
  margin-right: 10px;
}
